<div class="row">
    <div class="six columns">
        <form method="post" action="/light">
            <h1>light switch</h1>
            On  <input type="radio" name="status" value="on">
            Off <input type="radio" name="status" value="off">
            Blink <input type="radio" name="status" value="blink">
            <input class="button-primary" type="submit" value="Light switch">
        </form>
    </div>
</div>
