<div class="row">
    <div class="six columns">
        <form method="post" action="/proposal">
            <div class="row">
                <div class="six columns">
                    <label for="exampleEmailInput">Proposal name</label>
                    <input class="u-full-width" type="text" placeholder="What is the proposal" name="proposalName">
                </div>
            </div>

            <label for="exampleMessage">Description</label>
            <textarea class="u-full-width" placeholder="proposal description" name="proposalDesc"></textarea>

            <input class="button-primary" type="submit" value="Submit">
        </form>
    </div>



</div>
